.copyright-holder {
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
}

.copyright-holder .copyright-top-border {
    border-top: var(--border);
    width: 70%;
    margin-bottom: 15px;
}

.copyright-holder .copyright-top-border .star-box {
    width: 100%;
    position: relative;
    background: transparent;
}

.copyright-holder .copyright-top-border .star-holder {
    width: 8px;
    height: 8px;
    position: absolute;
    transform: translateY(-13px);
    left: 0;
    -webkit-animation: start-shinning-move 10s ease-in-out infinite alternate;
    -moz-animation: start-shinning-move 10s ease-in-out infinite alternate;
    animation: start-shinning-move 10s ease-in-out infinite alternate;
}

@keyframes start-shinning-move {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

.copyright-holder .copyright-top-border .star-holder svg {
    height: 100%;
    width: 100%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        fill: rgba(56, 71, 71, 0);
    }
    25% {
        fill: rgba(56, 71, 71, 0);
    }
    50% {
        fill: white;
    }
    75% {
        fill: rgba(56, 71, 71, 0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        fill: rgba(56, 71, 71, 0);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        fill: rgba(56, 71, 71, 0);
    }
    25% {
        fill: rgba(56, 71, 71, 0);
    }
    50% {
        fill: white;
    }
    75% {
        fill: rgba(56, 71, 71, 0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        fill: rgba(56, 71, 71, 0);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        fill: rgba(56, 71, 71, 0);
    }
    25% {
        fill: rgba(56, 71, 71, 0);
    }
    50% {
        fill: white;
    }
    75% {
        fill: rgba(56, 71, 71, 0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        fill: rgba(56, 71, 71, 0);
    }
}

.copyright-holder .copyright-box {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.copyright-holder .copyright-box .credit-name{
    color: var(--lightblue);
}

.heart-icon-holder svg {
    color: skyblue;
    height: 20px;
    width: 20px;
}

.heart-icon-holder path {
    fill: transparent;
    stroke-width: 20;
    stroke: #ff008c;
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
    animation: animate-heart 4s linear infinite;
}

@keyframes animate-heart {
    0% {
        stroke-dashoffset: 0;
    }
    15% {
        stroke-dashoffset: 1560;
    }
    30% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    45% {
        stroke-dashoffset: 3120;
        fill: rgb(255, 30, 116);
    }
    100% {
        stroke-dashoffset: 3120;
        fill: rgb(255, 30, 116);
    }
}